/* {
    border: dashed red 1px;
}*/

.body {
    margin: 0;
}

.header {
    width: 93%;
    margin: 0 0 74px 39px;
    padding: 21px 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-right: 36px;
}

.menu__item {
    text-decoration: none;
    font-family: Montserrat-Bold,Arial,sans-serif;
    font-size: 15px;
    color: #000000;
    font-weight: 600;
    font-style: normal;
    margin-right:38px;
    transition: color .3s ease-in-out;
    position: relative;
}

.menu__item:last-child{
    margin-right: 0;
}

.menu__item_active {
    color: #E51937;
    margin-right: 57px;
}

.menu__item_2 {
    margin-right: 18px;
}

.menu__item_right {
    margin-right: 23px;
}

.menu__item:hover {
    color: #E51937;
}

.menu__item_active::after {
    position: absolute;
    display: block;
    content: '';
    left: 0;
    width: 100%;
    bottom: -6px;
    height: 2px;
    background: #E51937;
    transition: opacity .5s, width .5s;
    border-radius: 0 0 100px 100px
}

.menu__item:before, .menu__item:after {
    content: '';
    position: absolute;
    transition: transform .5s ease-in-out;
    left: 0;
}

.menu__item:before {
    content: '';
    position: absolute;
    background: #E51937;
    width: 100%;
    height: 2px;
    bottom: -6px;
    transform: scaleX(0);
    border-radius: 0 0 100px 100px
}

.menu__item:not(.menu__item_active):hover:before {
    transform: scaleX(1);
    border-radius: 0 0 100px 100px
}



/* скрываем чекбокс */
#menu__toggle {
    opacity: 0;
}

/* стилизуем кнопку */
.menu__btn {
    display: flex; /* используем flex для центрирования содержимого */
    align-items: center; /* центрируем содержимое кнопки */
    position: absolute;
    top: 42px;
    right: 60px;
    width: 21px;
    height: 13px;
    cursor: pointer;
    z-index: 1;
}

/* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #E51937;
    border-radius: 0 0 100px 100px
}

.menu__btn > span::before {
    content: '';
    top: -8px;
}

.menu__btn > span::after {
    content: '';
    top: 8px;
}

#menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    transition-duration: .25s;
}

.menu__item {
    transition-duration: .25s;
}

/*//////////////Section////////////////*/

.main {

}
.section-1 {
    width: 93%;
    display: flex;
    align-items: center;
    flex-direction: column;


}

.main__title {
    font-family: Montserrat-Bold,Arial,sans-serif;
    font-size: 89px;
    line-height: 84px;
    margin: 0;
    padding-left: 103px;
}

.section__description {
    font-family: Montserrat-Medium,Arial,sans-serif;
    font-size: 15px;
    line-height: 18px;
    margin: 0;
    padding: 4px 0 0 102px;
}

.section__background {
    background: url("img/tesla.svg") no-repeat;
    width: 1338px;
    height: 359px;
    position: absolute;
}


.main__img {
    padding: 27px 0 0 26px;
    margin: 0;
}




/*////////////////////////////*/
.section__button-img:hover path {
    fill: red;
}

